
.sidebar-container{
  width: 7%;
  background-color: white;
  height: 100vh;
 
  


  &__icon{
    width: 55px;
    height: 75px;
    margin: 20px auto;
    display: flex;
    cursor: pointer;
    

    flex-direction: column;

    justify-content: space-between;
    &_2{
      width: 50px;
      margin: auto;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(9,0,78);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &__set{
      display: block;

 
     
      color: white;
      &_db{
        width: 34px;
        display: block;
        margin: auto;
       
        
      }
    }
  }
}
.main{
  display: flex;
}
.layout-view{
  width: 100vw;
  height: 100vh;

}